@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suez One";
  src: url("/src/assets/fonts/SuezOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* на сайте основной шрифт Poppins */
@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
}
